<!--<div class="guitar2">-->
    <!--<img class="img-responsive" src="" alt="">-->
<!--</div>-->
<!--<div class="about-content">-->
<div class="container">
    <div class="col-sm-10">
        <h2>{{about.titulo}}</h2>
        <p></p>
    </div>
</div>