<div class="contato-section">
    <div class="ear-piece">
        <img class="img-responsive" src="" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-4">
                <div class="contato-text">
                    <h3>{{contato.titulo}}</h3>
                    <address>
                        E-mail: fulano@hotmail.com<br>
                        Telefone: 2456 7890<br>
                        Fax: 3456 7891
                    </address>
                </div>
                <div class="contato-address">
                    <h3>Endereço</h3>
                    <address>
                        Rua tal<br>
                        Bairro,<br>
                        Cidade, Estado<br>
                        País
                    </address>
                </div>
            </div>
            <md-content class="contato-section">
                <h3>Entre em contato</h3>

                <form class="contato-form" name="contato-form">
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Nome</label>
                            <input ng-model="contato.nome">
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>E-mail</label>
                            <input ng-model="contato.email">
                        </md-input-container>
                    </div>

                    <md-input-container flex>
                        <label>Mensagem</label>
                        <textarea ng-model="contato.mensagem" columns="3" md-maxlength="500"></textarea>
                    </md-input-container>

                    <md-input-group flex>
                        <md-button class="md-raised pull-right">Enviar</md-button>
                    </md-input-group>
                </form>
            </md-content>


        </div>
    </div>
</div>
