<div class="container">
    <md-button class="md-fab md-primary scrollToTop" aria-label="Go Top" ng-click="footer.goToTop()">
        <md-icon class="fa fa-arrow-up"></md-icon>
    </md-button>

    <div class="text-center">
        <p> {{footer.copyright}}</p>
    </div>
</div>