<!DOCTYPE html>
<html lang="pt" ng-app="whynot">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Publicidade, comércio e eventos">
    <meta name="author" content="Vinícius Montanheiro">

    <title><%- title %></title>

    <link href="../assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="../assets/css/animate.css" rel="stylesheet">
	<link href="../assets/css/responsive.css" rel="stylesheet">
	<link href="../assets/bower_components/angular-material/angular-material.min.css" rel="stylesheet">
	<link href="../assets/css/main.css" rel="stylesheet">

    <!--[if lt IE 9]>
	<script src="../assets/js/html5shiv.js"></script>
	<script src="../assets/js/respond.min.js"></script>
	<![endif]-->

    <!--<link rel="shortcut icon" href="../assets/images/ico/favicon.ico">-->

</head>
<!--/head-->

<body ng-controller="AppController as app">
	<header id="header" role="banner" ng-viewport="header">

    </header>
	<!--/#header-->

    <section id="home" ng-viewport="home">

    </section>
	<!--/#home-->

	<section id="explore" class="home-section" ng-viewport="explore">

	</section>
	<!--/#explore-->

	<section id="eventos" class="home-section" ng-viewport="eventos">

	</section>
	<!--/#event-->

	<section id="about" class="home-section" ng-viewport="about">

	</section>
	<!--/#about-->
	
	<section id="social" class="home-section" ng-viewport="social">

	</section>
	<!--/#twitter-feed-->
	
	<section id="midia" class="home-section" ng-viewport="midia">

	</section>
	<!--/#sponsor-->

	<section id="contato" class="home-section" ng-viewport="contato">

	</section>
	<!--/#contact-->

    <footer id="footer" ng-viewport="footer">

    </footer>
	<!--/#footer-->

    <script type="text/javascript" src="../assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../assets/bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="../assets/bower_components/angular-animate/angular-animate.min.js"></script>
	<script type="text/javascript" src="../assets/bower_components/angular-aria/angular-aria.min.js"></script>
	<script type="text/javascript" src="../assets/bower_components/angular-new-router/dist/router.es5.js"></script>
	<script type="text/javascript" src="../assets/bower_components/angular-material/angular-material.min.js"></script>
	<script type="text/javascript" src="../assets/js/smoothscroll.js"></script>
	<script type="text/javascript" src="../assets/js/coundown-timer.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.scrollTo.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.nav.js"></script>
	<!--<script type="text/javascript" src="../../assets/bower_components/parallax-scroll/dist/jquery.parallax-scroll.js"></script>-->

	<!--/#All default scripts-->
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="../components/header/header.js"></script>
	<script type="text/javascript" src="../components/home/home.js"></script>
	<script type="text/javascript" src="../components/explore/explore.js"></script>
	<script type="text/javascript" src="../components/eventos/eventos.js"></script>
	<script type="text/javascript" src="../components/about/about.js"></script>
	<script type="text/javascript" src="../components/footer/footer.js"></script>
	<script type="text/javascript" src="../components/contato/contato.js"></script>
	<script type="text/javascript" src="../components/midia/midia.js"></script>
	<script type="text/javascript" src="../components/social/social.js"></script>
	<!--/#All application scripts-->

</body>
<!--/body-->
</html>