<!--<div id="social-feed" class="carousel slide" data-interval="false">-->
    <div class="container">
        <div class="col-sm-10">
            <img class="img-responsive" src="" alt="">
            <h2>{{social.titulo}}</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <!--<div class="text-center carousel-inner center-block">-->
                    <!--<div class="item active">-->
                        <!--<img src="" alt="">-->
                        <!--<p>Descrição</p>-->
                        <!--<a href="#">http://t.co/yY7s1IfrAb 2 dias atrás</a>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<img src="" alt="">-->
                        <!--<p>Descrição </p>-->
                        <!--<a href="#">http://t.co/yY7s1IfrAb 2 dias atrás</a>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<img src="" alt="">-->
                        <!--<p>Descrição</p>-->
                        <!--<a href="#">http://t.co/yY7s1IfrAb 2 dias atrás</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<a class="social-control-left" href="#social-feed" data-slide="prev"><i class="fa fa-angle-left"></i></a>-->
                <!--<a class="social-control-right" href="#social-feed" data-slide="next"><i class="fa fa-angle-right"></i></a>-->
            </div>
    </div>
</div>