<div id="midia-carousel" class="carousel slide" data-interval="false">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h2>{{midia.titulo}}</h2>
                <!--<a class="midia-control-left" href="#midia-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>-->
                <!--<a class="midia-control-right" href="#midia-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>-->
                <!--<div class="carousel-inner">-->
                    <!--<div class="item active">-->
                        <!--<ul>-->
                            <!--<li><a href="#"><img class="img-responsive" src="" alt=""></a></li>-->
                            <!--<li><a href="#"><img class="img-responsive" src="../../assets/images/sponsor/sponsor2.png" alt=""></a></li>-->
                            <!--<li><a href="#"><img class="img-responsive" src="../../assets/images/sponsor/sponsor3.png" alt=""></a></li>-->
                            <!--<li><a href="#"><img class="img-responsive" src="../../assets/images/sponsor/sponsor4.png" alt=""></a></li>-->
                            <!--<li><a href="#"><img class="img-responsive" src="../../assets/images/sponsor/sponsor5.png" alt=""></a></li>-->
                            <!--<li><a href="#"><img class="img-responsive" src="../../assets/images/sponsor/sponsor6.png" alt=""></a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<ul>-->
                            <!--<li><a href="#"><img class="img-responsive" src="../../assets/images/sponsor/sponsor6.png" alt=""></a></li>-->
                            <!--<li><a href="#"><img class="img-responsive" src="../../assets/images/sponsor/sponsor5.png" alt=""></a></li>-->
                            <!--<li><a href="#"><img class="img-responsive" src="../../assets/images/sponsor/sponsor4.png" alt=""></a></li>-->
                            <!--<li><a href="#"><img class="img-responsive" src="../../assets/images/sponsor/sponsor3.png" alt=""></a></li>-->
                            <!--<li><a href="#"><img class="img-responsive" src="../../assets/images/sponsor/sponsor2.png" alt=""></a></li>-->
                            <!--<li><a href="#"><img class="img-responsive" src="../../assets/images/sponsor/sponsor1.png" alt=""></a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="light">
        <img class="img-responsive" src="" alt="">
    </div>
</div>