<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <div id="eventos-carousel" class="carousel slide" data-interval="false">
                <h2>{{eventos.titulo}}</h2>
                <!--<a class="even-control-left" href="#eventos-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>-->
                <!--<a class="even-control-right" href="#eventos-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>-->
                <!--<div class="carousel-inner">-->
                    <!--<div class="item active">-->
                        <!--<div class="row">-->
                            <!--<div class="col-sm-4">-->
                                <!--<div class="single-event">-->
                                    <!--<img class="img-responsive" src="" alt="event-image">-->
                                    <!--<h4>Evento</h4>-->
                                    <!--<h5>Descrição</h5>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-sm-4">-->
                                <!--<div class="single-event">-->
                                    <!--<img class="img-responsive" src="" alt="event-image">-->
                                    <!--<h4>Evento</h4>-->
                                    <!--<h5>Descrição</h5>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-sm-4">-->
                                <!--<div class="single-event">-->
                                    <!--<img class="img-responsive" src="" alt="event-image">-->
                                    <!--<h4>Evento</h4>-->
                                    <!--<h5>Descrição</h5>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<div class="row">-->
                            <!--<div class="col-sm-4">-->
                                <!--<div class="single-event">-->
                                    <!--<img class="img-responsive" src="" alt="event-image">-->
                                    <!--<h4>Evento</h4>-->
                                    <!--<h5>Descrição</h5>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-sm-4">-->
                                <!--<div class="single-event">-->
                                    <!--<img class="img-responsive" src="" alt="event-image">-->
                                    <!--<h4>Evento</h4>-->
                                    <!--<h5>Descrição</h5>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-sm-4">-->
                                <!--<div class="single-event">-->
                                    <!--<img class="img-responsive" src="" alt="event-image">-->
                                    <!--<h4>Evento</h4>-->
                                    <!--<h5>Descrição</h5>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="guitar">
            <img class="img-responsive" src="" alt="">
        </div>
    </div>

    <!--<div class="cart">-->
        <!--<a href="#"><i class="fa fa-shopping-cart"></i> <span>Comprar Ingresso</span></a>-->
    <!--</div>-->

    <div class="row">
        <div class="watch">
            <img class="img-responsive" src="" alt="">
        </div>
        <div class="col-md-4 col-md-offset-2 col-sm-5">
            <h2>Próximo evento</h2>
        </div>
        <!--<div class="col-sm-7 col-md-6">-->
        <!--<ul id="countdown">-->
        <!--<li>-->
        <!--<span class="days time-font">00</span>-->
        <!--<p>dias </p>-->
        <!--</li>-->
        <!--<li>-->
        <!--<span class="hours time-font">00</span>-->
        <!--<p class="">horas </p>-->
        <!--</li>-->
        <!--<li>-->
        <!--<span class="minutes time-font">00</span>-->
        <!--<p class="">minutos</p>-->
        <!--</li>-->
        <!--<li>-->
        <!--<span class="seconds time-font">00</span>-->
        <!--<p class="">segundos</p>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
    </div>
</div>