<div id="main-slider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#main-slider" data-slide-to="0" class="active"></li>
        <li data-target="#main-slider" data-slide-to="1"></li>
        <li data-target="#main-slider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img class="img-responsive" src="../assets/images/slider/bg1.jpg" alt="slider">
            <div class="carousel-caption">
                <h2>Evento </h2>
                <h4>Descrição</h4>
                <a href="#contato"><h3>Comprar Ingresso</h3></a>
            </div>
        </div>
        <div class="item">
            <img class="img-responsive" src="../assets/images/slider/bg2.jpg" alt="slider">
            <div class="carousel-caption">
                <h2>Evento </h2>
                <h4>Descrição</h4>
                <a href="#contato"><h3>Comprar Ingresso</h3></a>
            </div>
        </div>
        <div class="item">
            <img class="img-responsive" src="../assets/images/slider/bg3.jpg" alt="slider">
            <div class="carousel-caption">
                <h2>Evento </h2>
                <h4>Descrição</h4>
                <a href="#contato"><h3>Comprar Ingresso</h3></a>
            </div>
        </div>
    </div>
</div>